.gallery-cont {
    margin-top: 20px;
    margin-bottom: 40px;
}


.image-container {
    position: relative;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
    border-radius: 20px;
  }
  
  .image-container:hover .overlay {
    opacity: 0.8;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }