.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

.linkedin-icon {
  height: 35px;
}

.github-icon {
  height: 30px;
}

.footertest{
  width: 100%;
}

.credits {
  float: right;
  color: grey;
  font-size: 90%;
}

.icons{
  float: left
}

div{
  font-family: 'Miriam Libre', sans-serif;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}